@import "@/src/styles/_mixin";
@import "@/src/styles/_colors";

.container {
  display: flex;
  position: relative;
  width: 100%;
}

.searchBar {
  @include font-style(16px, 400, $grey-400);
  flex-grow: 1;
  height: 42px;
  background-color: $grey-100;
  padding: 9px 16px 9px 44px;
  border-radius: 12px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $grey-400;
    font-size: 16px;
  }
}

.searchIcon {
  position: absolute;
  top: 6px;
  left: 16px;
}
